.header_wrapper {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    background-color: #EFF2F7;
}
.header_wrapper a {
    color: #000;
    text-decoration: none;
}
.header_btn {
    background-color: #fff;
    padding: 15px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
}
.header_btn:hover {
    background-color: #e0e0e0;
}